<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MarkLogic Handler Test">
    <test name="Regression">
         <classes>
             <class name="org.goldengate.delivery.handler.marklogic.DeleteTest"/>
             <class name="org.goldengate.delivery.handler.marklogic.JSONInsertTest"/>
             <class name="org.goldengate.delivery.handler.marklogic.NullColumnTest"/>
             <class name="org.goldengate.delivery.handler.marklogic.TimestampColumnTest"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->
